
        * {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }
        div {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            }
        body {
            perspective: 1000px;
            background-color: #b0b0b0;
            /* perspective-origin: top center; */
        }

        /* 魔方整体旋转面 */
        .box {
            width: 299px;
            height: 299px;
            margin: 200px auto;
            position: relative;
            transform-style: preserve-3d;
            /* background-color: rgb(0, 0, 0); */
            transform: rotateY(45deg) rotateZ(-15deg) rotateX(-15deg);
        }

        /* 旋转平面 */
        .face {
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            position: absolute;
            /* background-color: rgb(0, 0, 0); */
        }

        /* 旋转平面定位 */
        .p2,
        .p5,
        .p8 {
            position: absolute;
            left: 100px;
        }

        .p3,
        .p6,
        .p9 {
            position: absolute;
            left: 200px;
        }

        .p4,
        .p5,
        .p6 {
            position: absolute;
            top: 100px;
        }

        .p7,
        .p8,
        .p9 {
            position: absolute;
            top: 200px;
        }

        /* 魔方立方体*27*/
        .f-box {
            position: absolute;
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 100px;
            border-radius: 5%;
            transform: translateZ(-50px);
            background-color: black;
        }

        /* 魔方中间层-竖 */
        .f6 {
            transform: translateZ(50px);
        }

        .f5 {
            transform: rotateY(90deg) translateZ(-50px);
        }

        .f4 {
            transform: rotateY(-90deg) translateZ(-50px);
        }

        .f3 {
            transform: rotateX(90deg) translateZ(-50px);
        }

        .f2 {
            transform: rotateX(-90deg) translateZ(-50px);
        }

        /* 魔方后层-竖 */
        .h-f1 {
            transform: translateZ(-150px);
        }

        .h-f6 {
            transform: translateZ(-50px);
        }

        .h-f5 {
            transform: translateZ(-150px) rotateY(-90deg);
            /*问题  T  R前后交换顺序T不执行*/
            transform-origin: left;
        }

        .h-f4 {
            transform: translateZ(-150px) rotateY(90deg);
            transform-origin: right;
        }

        .h-f3 {
            transform: translateZ(-150px) rotateX(-90deg);
            transform-origin: bottom;
        }

        .h-f2 {
            transform: translateZ(-150px) rotateX(90deg);
            transform-origin: top;
        }

        /*颜色块*/
        .f-box div {
            text-align: center;
            line-height: 96px;
            width: 94px;
            height: 94px;
            margin: 3px;
            border-radius: 13%;
            transform: translateZ(1px);
        }

        .color6 {
            background-color: rgba(255, 0, 0, 1);
        }

        .color5 {
            background-color: rgb(255, 153, 0);
        }

        .color4 {
            background-color: rgb(255, 251, 0);
        }

        .color3 {
            background-color: rgb(255, 255, 255);
        }

        .color2 {
            background-color: rgb(51, 255, 0);
        }

        .color1 {
            background-color: rgb(0, 174, 255);
        }

        /*旋转角度*/

        .M1,
        .M10,
        .M19 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: 150px 150px;
        }

        .M2,
        .M11,
        .M20 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: 50px 150px;
        }

        .M3,
        .M12,
        .M21 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: -50px 150px;
        }

        .M4,
        .M13,
        .M22 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: 150px 50px;
        }

        .M5,
        .M14,
        .M23 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: 50px 50px;
        }

        .M6,
        .M15,
        .M24 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: -50px 50px;
        }

        .M7,
        .M16,
        .M25 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: 150px -50px;
        }

        .M8,
        .M17,
        .M26 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: 50px -50px;
        }

        .M9,
        .M18,
        .M27 {
            transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
            transform-origin: -50px -50px;
        }