*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-size: 12px;
    background-color: #f4f4f4;
}
.shortcut {
    width: 100%;
    background-color: #e3e4e5;
    color: #999;
}
.w {
    width: 1190px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.header {
    background-color: #fff;
}
.header .w {
    height: 140px;
}
.fs {
    margin-bottom: 30px;
}
.fs::after {
    content: '';
    display: block;
    clear: both;
}
.fs1 {
    width: 190px;
    position: relative;
    /* background-color: #fff; */
}
.fs1, .fs2 {
    float: left;
    height: 480px;
    margin-right: 10px;
}
.fs2 {
    width: 790px;
    background-color: tomato;
}
.fs3 {
    float: right;
    width: 190px;
    height: 480px;
    background-color: thistle;
}
.seckill {
    height: 260px;
    margin-bottom: 20px;
}
.seckill-countdown {
    position: relative;
    float: left;
    width: 190px;
    height: 100%;
    color: #fff;
    background-color: #e83632;
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d88….png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.seckill-list {
    width: 1000px;
    height: 100%;
    background-color: turquoise;
    float: left;
}