*{
    padding: 0;
    margin: 0;
}

.puzzle{
    position: relative;
    margin-bottom: 50px;
    border: 2px solid #ccc;
}

.block{
    /* position: absolute; */
    position: absolute;
    border:1px solid #fff;
    box-sizing: border-box;
}