*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: #f3f0f5;
}

.wrapper{
    width: 804px;
    margin: 100px auto;
}

.wrapper::after{
    content:'';
    display: block;
    clear: both;
}

.logo{
    width: 145px;
    height: 56px;
    float: left;
}

a{
    display: inline-block;
    text-decoration: none;
    background-image:url("./image/logo.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.search{
    width: 470px;
    height: 34px;
    float: left;
    margin-top: 11px;
}

.search .search-inp{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    border:none;
    padding-left: 11px;
    box-shadow: 0px 1px 2px #ccc;
    width: 100%;
    height: 100%;
}

.search-btn{
    position: relative;
    top: -34px;
    right: -470px;
    width: 37px;
    height: 34px;
    background-color: #929ba2;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url('./image/search.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.menu{
    list-style: none;
    position: relative;
    top: -34px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    display: none;
}

.poster,
.content {
  display: inline-block;
  vertical-align: middle;
}

.menu li .poster{
    width: 45px;
    height: 63px;
}

.poster img{
    width: 100%;
}

.content{
    margin-left: 5px;
}

.title {
    color: #27a;
    font-size: 14px;
  }
  
  .year,
  .sub-title,
  .episode {
    font-size: 12px;
    color: #9b9b9b;
  }
  
  .title,
  .sub-title,
  .episode {
    margin-bottom: 4px;
  }
  
  .episode {
    margin-bottom: 0;
  }