*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    color:#000;
}

body{
    background-color: #f4f4f4 ;
    width: 100%;
}

.header{
    width: 100%;
    height: 30px;
    background-color: #e3e4e5;
}

.w{
    width: 1190px;
    margin: 0  auto;
}

.search{
    height: 100%;
    background-color: #fff;
    height: 140px;
}

.content{   
    width: 100%;
    height: 480px;
}

.c1{
    height: 100%;
    width: 190px;
    float: left;
    margin-right: 10px;
}

.c2{
    width: 790px;
    height: 100%;
    float: left;
}

.c3{
    height: 100%;
    width: 190px;
    float:right;
}

.seckill{
    height: 260px;
    bottom: 20px;
    margin-top: 20px;
}

.seckill .kill-pic{
    float: left;
    width: 190px;
    height: 100%;
    background-color: #e83632;
    background-image: url('http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d8883775742e3efbb850ae14def7.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    margin-right: 20px;
}

.seckill .kill-swiper{
    width: 610px;
    height: 260px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

