*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-size: 12px;
}
.shortcut {
    width: 100%;
    background-color: #e3e4e5;
    color: #999;
}
.w {
    width: 1190px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
