a.red{
    color:red;
}
a:hover{
    color:red;
}
.position{
    float: left;
}
.nav{
    float: right;
    /* position: relative; */
}
.nav li{
    float: left;
    position: relative;
}
a{
    color:#999;
}
.nav > span{
    border-right:1px solid #ccc;
    width: 1px;
    float: left;
    height: 10px;
    margin: 11px 5px 0;
}

.iconfont{
    position: absolute;
    font-size: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    top:10px;
}
.dt.cw-icon{
    border:1px solid transparent;
    padding-right: 20px;
    position: relative;
}

.dropdown{
    position: absolute;
    border:1px solid #ccc;
    background-color: #fff;
    display: none;
}

.my-jd .dropdown{
    width: 280px;
}

.my-jd .dropdown dl{
    border-bottom: 1px solid #eee;
    padding:10px 0 10px 15px;
    overflow: hidden;
}

.dropdown dd{
    float: left;
    line-height: 24px;
}

.my-jd dd{
    width: 126px;
}

.nav .dt-hover:hover .dropdown{
    display: block;
}

.nav li.dt-hover:hover .dt{
    background-color: #fff;
    border-top-color:#ccc;
    border-right-color: #ccc;
    border-left-color: #ccc;
}