a.red {
    color: red;
}

a:hover {
    color: red;
}
.city{
    height: 100%;
    width: 50px;
    padding: 0 25px 0 8px;
    position: relative;
    float: left;
    border: 1px solid transparent;
    margin: 0 0 0 20px;
}
.position {
    
    padding: 0 2px;
}
.position .iconfont{
    height: 14px;
    width: 14px;
    font-size: 14px;
    line-height: 14px;
    color:#5c5452;
    position: absolute;
    top:8px;
    /* left: -5px; */
}
.text{
    display: inline-block;
    margin-left: 14px;
    white-space: nowrap;
}
.nav {
    float: right;
    /* position: relative; */
}

.nav li {
    float: left;
    position: relative;
}

a {
    color: #999;
}

.location {
    position: absolute;
    top: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 18px;
    display: none;
    left: -1px;
}

.location dd {
    float: left;
    margin: 5px 10px;
    padding: 2px 5px;
}
.city:hover {
    background-color: #fff;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-top-color: #ccc;
}

.location dd:hover {
    background-color: #eee;
}

.location dd a{
    text-align: right;
}

.city:hover .location{
    display: block;
}

.hlj {
    background-color: #f30213;
}

.hlj a {
    color: #fff;
}

.nav>span {
    border-right: 1px solid #ccc;
    width: 1px;
    float: left;
    height: 10px;
    margin: 11px 5px 0;
}

.iconfont {
    position: absolute;
    font-size: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    top: 10px;
}

.dt.cw-icon {
    border: 1px solid transparent;
    padding-right: 20px;
    position: relative;
    z-index: 10px;
}

.dropdown {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    top: 30px;
    line-height: 24px;
}

.my-jd .dropdown {
    width: 280px;
}

.dropdown dl {
    border-bottom: 1px solid #eee;
    padding: 10px 0 10px 15px;
    overflow: hidden;
}

.dropdown dd {
    float: left;
    line-height: 24px;
    white-space: nowrap;
}

.my-jd dd {
    width: 126px;
}

.nav .dt-hover:hover .dropdown {
    display: block;
}

.nav li.dt-hover:hover .dt {
    background-color: #fff;
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-left-color: #ccc;
}

.company .dropdown {
    padding: 15px 0;
}

.service .dropdown dt {
    font-weight: 700;
}

.service .dropdown {
    right: 0;
    /* padding: 15px 0; */
}

.web-app .dropdown {
    right: -69px;
    padding: 15px 0;
}

.web-app .dropdown dl {
    float: left;
    padding-left: 20px;
    border-right: 1px solid #ccc;
    border-bottom: none;
    padding-top: 0;
}

.web-app .dropdown dl:last-of-type {
    border-right: none;
}

.mobile{
    position: absolute;
    width: 190px;
    /* border-bottom:3px solid #60575a; */
    border:1px solid #eee;
    right: 0;
    top:30px;
}

.mobile-item{
    position: relative;
    padding: 15px 0;
    border-bottom:1px solid #ccc;
}
.mobile .mobile-item .mobile-item-l{
    position: absolute;
    left: 5px;
    top: 14px;
    border:1px solid #ccc;
    width: 74px;
    height: 74px;
}

.mobile-item-l img{  
    width: 70px;
    height: 70px;
    margin: 2px 0 0 2px;
}

.mobile-item-r{
    margin: 0 10px 0 86px;
    min-height: 70px;
}
p.sb{
    overflow: hidden;
}
h5{
    height: 25px;
}
.mobile-item-r h5 a{
    color:#666 !important;
    font-size:12px;
    line-height: 17px;
}
.mobile-item-r p.new{
    color:#F10214;
    /* margin: 3px 0; */
    line-height: 14px;
}
.mobile-item-r p a{
    overflow: hidden;
    float: left;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    text-indent: -999px;
}
.mobile-item-r .ios{
    background-image: url(http://misc.360buyimg.com/mtd/pc/index/home/images/sprite_mobile@2x.png);
    background-size: 25px 77px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.mobile-item-r .and{
    background-image: url(http://misc.360buyimg.com/mtd/pc/index/home/images/sprite_mobile@2x.png);
    background-position: 0 -26px;
    background-size: 25px 77px;
    background-repeat: no-repeat;
}

.mobile-item-r .pad{
    background-image: url(http://misc.360buyimg.com/mtd/pc/index/home/images/sprite_mobile@2x.png);
    background-position: 0 -52px;
    background-size: 25px 77px;
    background-repeat: no-repeat;
}
p.wx{
    line-height: 14px;
    color:#f10214;
}
